<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>        
    </head>
    <body>
        <link rel="stylesheet" href="static/styles.css">
        <h1>Add Employee Submission Form</h1>
        <br>
        <script src="static/form_submission.js"></script>
        <form id='myform' onsubmit="formSubmit('#myform','/cake/add_employee')">
            <label for="empname">Employee name:</label><br>
            <input type="text" id="empname" name="name"><br><br>
            <label for="dob">Date of Birth:</label><br>
            <input type="datetime-local" id="dob" name="date_of_birth"><br><br>
        </form>
        <br>
        <button onclick="btnclick()">Submit</button>
        <script>
            function btnclick(){
                $('form').submit()
            }
        </script>

        <br><br><br>        
        <form id='nextform' action="/html/submit_preference">
            <input type="submit" value="Go to Submit Cake Preference" />
        </form>
    </body>
</html>