<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <link rel="stylesheet" href="static/styles.css">
        <form id='nextform' action="/html/cake_responsibility">
            <input type="submit" value="Go to See Cake Responsibility" />
        </form>
        <form id='ckresp' action="/html/submit_preference">
            <input type="submit" value="Go to Submit Cake Preference" />
        </form>
        <br><br><br>
        <form id='prevform' action="/html/add_employee">
            <input type="submit" value="Go to Add Employee" />
        </form>
    </body>
</html>
