<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>Add Employee Submission Form</h1>
        <br>
        <script src="static/form_submission.js"></script>
        <form id='myform' onsubmit="formSubmit('#myform','/cake/submit_preferences','#results')">
            <label for="empname">Employee name:</label><br>
            <input type="text" id="empname" name="name"><br>
            <label for="food">Food intolerences (e.g. gluten, egg, milk):</label><br>
            <input type="text" id="food" name="food_intolerence"><br><br>
            <label for="cake">Cake preferences (e.g. chocolate, red velvet, lemon):</label><br>
            <input type="text" id="cake" name="cake_preference"><br><br>
            <input type="submit" value="Submit">
        </form>
        <br><br><br>
        <form id='nextform' action="/html/cake_responsibility">
            <input type="submit" value="Go to See Cake Responsibility" />
        </form>
        <br><br><br>
        <form id='prevform' action="/html/add_employee">
            <input type="submit" value="Back to Add Employee" />
        </form>
    </body>
</html>